.App {
  font-family: sans-serif;
  text-align: center;
}
#footer {
  background-color: black;
  color: white;
}
.dark-font {
  font-family: sans-serif;
  font-weight: 900;
}
.removeBorder {
  border: none;
}

.card {
  width: 24rem;
  border: none;
  box-shadow: 5px 5px 30px rgb(219, 218, 208);
}
.card:hover {
  width: 25rem;
}

/* Image Partition and text on Image */
#imageDivider1 {
  border-right: 1px solid #e0e1e2;
  height: 100%;
  width: 32%;
  position: absolute;
  left: 20px;
  top: 0px;
  padding: 20px;
}

#imageDivider2 {
  /* border-right: 2px solid #16222c; */
  height: 100%;
  width: 33%;
  position: absolute;
  left: 33%;
  top: 0px;
  padding: 20px;
}

#imageDivider3 {
  border-left: 1px solid #e0e1e2;
  height: 100%;
  width: 33%;
  position: absolute;
  right: 20px;
  top: 0px;
  padding: 20px;
}

.image-text {
  word-wrap: break-word;
  font-size: 37px;
  font-weight: 800;
  opacity: 0.8;
  font-family: "Lato";
  color: white;
  text-align: center;
  position: absolute;
  bottom: 5%;
}

/* Image Zoom css */
#zoomBOut {
  width: 600px;
  height: 338px;
  overflow: hidden;
}

#zoomBIn {
  width: 100%;
  height: 100%;

  background-position: center;
  background-size: cover;

  transition: transform ease 0.3s;
}

#zoomBIn:hover {
  transform: scale(1.2);
}

/* Search Bar  */
.height{

  height: 100vh;
}

.form{

  position: relative;
}

.form .fa-search{

  position: absolute;
  top:20px;
  left: 20px;
  color: #9ca3af;

}

.form span{

      position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;

}

.left-pan{
  padding-left: 7px;
}

.left-pan i{
 
 padding-left: 10px;
}

.form-input{

  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus{

  box-shadow: none;
  border:none;
}

